.{
  .name = .<%= @otp_app %>,
  .version = "<%= @version %>",
  .fingerprint = <%= @fingerprint %>,
  .paths = .{
    "build.zig",
    "build.zig.zon"
  },
  .dependencies = .{<%= for {name, path} <- @dependencies do %>
    .<%= name %> = .{.path = "<%= Path.relative_to(path, staging_directory(@module), force: true) %>"},
  <% end %>
  }
}
