const easy_c = @cImport({
    @cInclude("<%= @easy_c %>");
    <% # TODO: cDefines %>
});

<%= for {name, opts} <- @nifs do %>
  <%= unless opts[:alias] do %>
pub const <%= name %> = easy_c.<%= name %>;
  <% end %>
<% end %>