run
-lc
--dep analyte
-Mmain=<%= @sema %>
<%= for {modname, mod_opts} <- @mods do %>
  <%= for depname <- List.wrap(mod_opts[:deps]) do %>
    --dep <%= depname %>
  <% end %>
  -M<%= modname %>=<%= mod_opts.path %>
<% end %>
<%= if @c do %>
<%= for dir <- @c.include_dirs do %>
-I <%= dir %>
<% end %>
<% end %>