<%= for dep <- @deps do %>
  --dep <%= dep %>
<% end %>

<%= if @c do %>
  <%= Sema.render_sema(@c) %>
<% end %>
-M<%= @name %>=<%= @path %>
<%= if @c do %>
  <%= for {file, opts} <- @c.src do %>
    <%= if opts != [] do %>
      -cflags <%= for opt <- opts, do: opt %> --
    <% end %>
  <%= file %>
  <% end %>
<% end %>
