var exported_nifs = [<%= Enum.count(funcs) %>] e.ErlNifFunc{
<%= for {func, {params, _}} <- funcs do %>
e.ErlNifFunc{
    .name = c"<%= func %>",
    .arity = <%= Enum.count(Zigler.Zig.adjust_params(params)) %>,
    .fptr = __<%= func %>,
    .flags = 0,
},<% end %>
};
