const entry = e.ErlNifEntry{
    .major = 2,
    .minor = 15,
    .name = c"<%= nif_module %>",
    .num_of_funcs = <%= Enum.count(funcs) %>,
    .funcs = &(exported_nifs[0]),
    .load = null,
    .reload = null,
    .upgrade = null,
    .unload = null,
    .vm_variant = c"beam.vanilla",
    .options = 1,
    .sizeof_ErlNifResourceTypeInit = 24,
    .min_erts = c"erts-10.4"
};

export fn nif_init() *const e.ErlNifEntry{
    return &entry;
}
